.contact-list-item {
  position: relative;
  min-height: 40px;
  width: 100%;
  padding: 0;
  line-height: 1.2vw;
  font-size: 1.2vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: B612, sans-serif;
  cursor: pointer;

  & .character {
    position: absolute;
    top: 50%;
    left: -1.6vw;
    transform: translateY(-50%);
    font-weight: bolder;
  }
}