.launcher-gallery-container {
  position: absolute;
  overflow: hidden;
  background: radial-gradient(88.77% 88.77% at 50% 50%, rgba(255, 225, 225, 0.69) 0%, rgba(206, 216, 179, 0.69) 42.71%, rgba(180, 203, 216, 0.69) 65.56%, rgba(255, 240, 200, 0) 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.launcher-image {
  animation: 1s 6.5s image ease-in forwards;
  will-change: top, left;
}

@keyframes image {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}