.home-museum-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(88.77% 88.77% at 50% 50%, rgba(255, 225, 225, 0.69) 0%, rgba(206, 216, 179, 0.69) 42.71%, rgba(180, 203, 216, 0.69) 65.56%, rgba(255, 240, 200, 0) 100%);
  cursor: pointer;
}

.home-museum-title {
  /* Home museum */
  font-family: B612, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10vw;
  line-height: 0;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: transparent;
  padding:18px;
  text-shadow: 2px 2px black, -2px -2px black,
  2px -2px black, -2px 2px black;
  margin: 5vw;
}