.guide-contacts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #CED8B3;
  font-family: B612, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.guide-contacts-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
}

.guide-contact-list {
  width: 25%;
  height: auto;
  min-height: 90vh;
  padding: 3vw 3vw 0;
}

.guide-line {
  border-top: 1px solid #000000;
  width: 100%;
  height: 10vh;
  position: fixed;
  background: #CED8B3;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.guide-line-title {
  width: 90%;
  padding-left: 2vw;
  font-size: 2.5vw;
  flex-shrink: 10;
}

.guide-search {
  width: 5%;
  height: 60%;
  background: url("../../../asset/icon-search.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.guide-back-to-home {
  width: 8vw;
  height: 10vh;
  background: url("../../../asset/icon-go-home.png") no-repeat center;
  background-size: 40%;
  cursor: pointer;
}

.guide-contacts .contact-line:nth-child(1) {
  position: fixed;
  width: 1px;
  height: 90vh;
  top: 0;
  left: 25%;
  bottom: 10vh;
  background: black;
}

.guide-contacts .contact-line:nth-child(2) {
  position: fixed;
  width: 1px;
  height: 90vh;
  top: 0;
  left: 50%;
  bottom: 10vh;
  background: black;
}

.guide-contacts .contact-line:nth-child(3) {
  position: fixed;
  width: 1px;
  height: 90vh;
  top: 0;
  left: 75%;
  bottom: 10vh;
  background: black;
}