.menu-item {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column-reverse;
  transition: all .2s ease-in;
  background: #FFF59B;
  transform: perspective(600px) rotateX(0deg);
  font-family: B612, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: capitalize;
}

.menu-icon {
  //position: absolute;
  //right: 1vw;
  //bottom: 1vw;
  animation: showText 1.3s ease-in;
  transition: all .5s ease-in-out;
  display: flex;
}

.menu-icon-clicked {
  opacity: 0;
}

.menu-item-top-container .menu-item:nth-of-type(1) {
  color: #000000;
  animation: 1s turnGreen forwards;
}

.menu-item-clicked {
  //transform: scale(1.5);
}

.menu-item-top-container .menu-item:nth-of-type(2) {
  color: #000000;
  animation: 1s turnWhite forwards;
}

.menu-item-bottom-container .menu-item:nth-of-type(1) {
  color: #000000;
  animation: 1s turnBlue forwards;
}

.menu-item-bottom-container .menu-item:nth-of-type(2) {
  color: #FFFFFF;
  animation: 1s turnOrange forwards;
}

.menu-text {
  animation: showText 1.3s ease-in;
  transition: all .5s ease-in-out;
}

.menu-text-clicked {
  opacity: 0;
}

@keyframes turnGreen {
  to {
    background: #B4CBD8;
  }
}

@keyframes turnWhite {
  to {
    background: #ffffff;
  }
}

@keyframes turnBlue {
  to {
    background: #CED8B3;
  }
}

@keyframes turnOrange {
  to {
    background: #FFE1E1;
  }
}

@keyframes turnBlack {
  to {
    background: #A5A5A5;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}